 /* 
 #000814
 #001D3D
 #003566
 #ffc300
 #ffd60a
 */


 h1 {
     font-size: 100px;
 }

 .text-home {
     color: #ffc300;
 }

 .break {
     flex-basis: 100%;
     height: 0;
 }

 .navContainer {
     margin: auto;
 }

 .bttButton {
     color: #003566;
     background-color: #ffc300;
     font-size: 1rem;
     font-weight: 500;
     padding: 1%;
 }
 .navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active,
 .navbar-dark .navbar-nav .nav-link.show,
 .navbar-dark .navbar-nav .show>.nav-link {
    color: #ffc300;
 }
 .navbar-dark .navbar-nav .nav-link {
    color: #ffc300;
}
.navbar-dark .navbar-brand {
    color: #ffc300;
}
